.support-container {
    margin-top: 3rem;
}

.FAQs {
    display: block;
    margin-left: 5%;
    box-shadow: 2px 2px 5px 2px #ddd;
}

.FAQs .title {
    text-decoration: underline;
    align-items: center;
}

.FAQ-wrapper {
    margin-left: 5%;
    margin-right: 10%;
}

.question {
    margin-bottom: 10px;
}

.qText {
    margin-bottom: 5px;
    font-size: medium;
}

.aText {
    margin-left: 1%;
}