.userShippingContainer {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  height: 100vh;           /* full viewport height */
  width: 100%;             /* optional: full width */
}

.userShippingContainer b {
  margin-bottom: 20px;
  font-size: 30px;
}
