.navigation {
  display: flex;
  width: 100%;
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
}
.navigation .homeLogo {
  display: flex;
  height: 70px;
  width: 70px;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.navigation ul li a {
  color: #FBFBFB;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navigation nav ul .signUpOrIn {
  border: solid red;
}

.homeLogo {
  height: 70px;
  width: 70px;
}

ul {
  list-style-type: none;
}
