.signContainer {
  margin-top: 40px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.signContainer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.signContainer .left .bigText {
  font-size: 1.75rem;
}
.signContainer .left .description {
  font-weight: lighter;
  color: #3B3B3B;
}

.signContainer .left .signIn{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.signContainer .left .signUp {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.signContainer .switch{
  margin: -0.5rem 0;
  align-self: flex-end;
  color: gray;
}

.signContainer .switch .click {
  color: #50589C;
  cursor: pointer;
}
.signContainer .switch .click:hover {
  color: #636CCB;
}

.signContainer .right {
  flex: 1;
}

.signContainer .right .signUpImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

